* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.theme-title {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 25rem;
    background-image: linear-gradient(180deg, aqua, black);
    
    /* margin-top: 8rem; */
    border: 1px solid blue;
}