* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.theme-title {
    text-align: center;
    width: 100%;
    font-size: 4rem;
    padding-top: 6rem;
    padding-bottom: 25rem;
    background-image: linear-gradient(180deg, aqua, black);
    position: absolute;
    /* margin-top: 8rem; */
    border: 1px solid blue;
}
.theme-title::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 50%;
    width: 60%;
    height: 100%;
    transform: translate(-20%, 60%);
    background-color: white;
}
.theme-title::after {
    content: '';
    display: block;
    position: absolute;
    border-radius: 40% 100%;
    width: 65%;
    height: 80%;
    transform: translate(70%, 60%);
    background-color: white;
}

.wave-1 {
    content: '';
    /* border: 1px solid yellow; */
    display: inline-block;
    border-radius: 50%;
    padding: 200px;
    margin: 25px;
    position: absolute;
    top: 65%;
    left: -2%;
    background-color: white;
}
.wave-2 {
    content: '';
    /* border: 1px solid yellow; */
    display: inline-block;
    border-radius: 50%;
    padding: 200px;
    margin: 25px;
    position: absolute;
    top: 75%;
    left: 15%;
    background-color: white;
}
.wave-3 {
    content: '';
    /* border: 1px solid yellow; */
    display: inline-block;
    border-radius: 50%;
    padding: 200px;
    margin: 25px;
    position: absolute;
    top: 86%;
    left: 30%;
    background-color: white;
}
.wave-4 {
    content: '';
    /* border: 1px solid yellow; */
    display: inline-block;
    border-radius: 50%;
    padding: 300px;
    margin: 25px;
    position: absolute;
    top: 80%;
    left: 45%;
    background-color: white;
}
